$red: #e63946;
$blue: #1d3557;

body {
  background-image: url(./bg.jpg);
}

.democrat {
  background-color: $blue;
  color: #fff;
}

.republican {
  background-color: $red;
  color: #fff;
}

.item {
  border-radius: 50%;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
